<form [formGroup]="findPassport">
    <mat-form-field class="person-find" appearance="standard">
        <mat-label>Введите серию и номер пасспорта</mat-label>
        <input matInput formControlName="passport" #postalCode maxlength="10" required>
        <mat-hint align="end">{{postalCode.value.length}} / 10</mat-hint>
        <mat-hint>До 14 лет свидетельство о рождении</mat-hint>
    </mat-form-field>

    <button class = "btn-find" mat-raised-button color="primary" [disabled]="findPassport.invalid" (click)= 'findPerson()'>Найти человека</button>
</form>

<mat-spinner *ngIf='isLoadData'></mat-spinner>

<form *ngIf='canFindPerson' class="person-form" [formGroup]="myForm">
    <mat-form-field class="person-full-width"[disabled]="isChanged" appearance="standard">
      <mat-label>Фамилия</mat-label>
      <input class = "my-input" matInput formControlName="userSurname" required>
    </mat-form-field>

    <mat-form-field class="person-full-width" appearance="standard">
        <mat-label>Имя</mat-label>
        <input class = "my-input" matInput formControlName="userName" required>
    </mat-form-field>

    <mat-form-field class="person-full-width" appearance="standard">
        <mat-label>Отчество</mat-label>
        <input class = "my-input" matInput formControlName="userPatronymic">
    </mat-form-field>
    
    
    <mat-radio-group formControlName ="userSex">
        <mat-label>Пол </mat-label>
        <mat-radio-button color="primary" class= "my-radiobtn" value="муж">муж</mat-radio-button>
        <mat-radio-button color="primary" class= "my-radiobtn" value="жен">жен</mat-radio-button>
    </mat-radio-group>

    <mat-form-field class="person-full-width" appearance="standard">
        <mat-label>Дата рождения</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="userBirthdate" [max]="maxDate" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field class="person-full-width" appearance="standard">
        <mat-label>Введите серию и номер пасспорта</mat-label>
        <input matInput formControlName="userPassport" #postalCode maxlength="10" required>
        <mat-hint align="end">{{postalCode.value.length}} / 10</mat-hint>
        <mat-hint>До 14 лет свидетельство о рождении</mat-hint>
    </mat-form-field>

    <mat-form-field class="person-full-width" appearance="standard">
        <mat-label>Водительское удостоверение</mat-label>
        <input matInput formControlName="userDriverLicense" #postalCode maxlength="10">
        <mat-hint align="end">{{postalCode.value.length}} / 10</mat-hint>
    </mat-form-field>

    <button mat-raised-button color="primary" *ngIf='!isChanged' (click)= 'beginChanges()'>Изменить</button>
    <button *ngIf='isChanged' mat-raised-button color="primary" [disabled]="myForm.invalid" (click)= 'updatePerson()'>Сохранить</button>
    <button *ngIf='isChanged' mat-raised-button color="warn" (click)= 'cancelChanges()'>Отменить</button>
</form>

<h3 class='find-person-error' *ngIf='canFindError'>Такого человека нет в базе!</h3>