<aside>
    <nav>
        <a routerLink="/dtp" routerLinkActive="active">
            <mat-icon>public</mat-icon>
        </a>
        <a routerLink="/dtp-search" routerLinkActive="active">
            <mat-icon>search</mat-icon>
        </a>
        <a routerLink="/dtp-create" routerLinkActive="active">
            <mat-icon>book</mat-icon>
        </a>
        <a routerLink="/people" routerLinkActive="active">
            <mat-icon>wc</mat-icon>
        </a>
        <a routerLink="/ts" routerLinkActive="active">
            <mat-icon>commute</mat-icon>
        </a>
        <a routerLink="/profile" routerLinkActive="active">
            <mat-icon>person</mat-icon>
        </a>
    </nav>
</aside>
