<mat-form-field appearance="standard">
  <mat-label>Категории ДТП</mat-label>
  <mat-select [formControl]="selectedTypeDtp" name="type" required>
    <mat-option *ngFor="let type of typeDtp" [value]="type.id">
      {{type.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field  class = 'item' appearance="standard">
  <mat-label>Год</mat-label>
  <mat-select [formControl]="selectedYear" name="type" (click)="clickSelectYear()" required>
    <mat-option *ngFor="let year of years"  (click)="clickSelectYear()" [value]="year.value">
      {{year.value}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field  class = 'item' appearance="standard">
  <mat-label>Месяц</mat-label>
  <mat-select [formControl]="selectedMonth" name="type" required>
    <mat-option *ngFor="let month of months" [value]="month.value">
      {{month.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<button class = 'item' mat-raised-button color="primary" (click)="clickBtnSearch()">Подтвердить</button>

<mat-spinner *ngIf='isLoadData'></mat-spinner>

<div id="map"></div>
