<br>
<h3>Для сотрудников ГИБДД</h3>

<form class="login-form" [formGroup]="authForm">
    <mat-form-field class="login-full-width" appearance="standard">
      <mat-label>Логин</mat-label>
      <input matInput formControlName="login">
    </mat-form-field>
  
    <mat-form-field class="login-full-width" appearance="standard">
      <mat-label>Пароль</mat-label>
      <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="authForm.invalid" (click)= "login()">Войти</button>
</form>