.person-find {
    min-width: 200px;
    max-width: 250px;
    width: 100%;
}

.person-find-info {
    margin-top: 10px;
    min-width: 300px;
    max-width: 350px;
    width: 100%;
}

.btn-find{
    margin-left: 3%;
}

.person-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.person-full-width {
    width: 100%;
}

.my-input {
    text-transform: capitalize; 
}

.my-radiobtn {
    margin-left: 2px; 
    margin-top: 2px;
}