.stepper {
    height: 810px;   
    overflow-y : scroll;
}
.example-section {
    margin: 12px 0;
}
  
.example-margin {
    margin: 0 12px;
}
  
ul {
    list-style-type: none;
    margin-top: 4px;
}

.container {
    max-width: 60%;
}
.header {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 40px;
}

.dadata-example {
    border: 0px solid #EBEBEB;
    min-width: 150px;
    max-width: 375px;
    width: 100%;
}


.first-step-full-width {
    margin-top: 10px;
    min-width: 150px;
    max-width: 385px;
    width: 100%;
}

.btn-first-step {
    margin-left: 420px;
    margin-top: 10px;
}

.first-step-size {
    margin-top: 600px;
}

.btn-back {
    margin-top: 20px;
    margin-left: 100px;
}

.btn-go {
    margin-top: 20px;
    margin-left: 10px;
}

.btn-add-affected {
    margin-top: 5px;
}

.slide-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
.slide-margin {
    margin: 10px;
}

.my-btn {
    margin: 3px; 
}

::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}