<div mat-dialog-content>
    <form [formGroup]="findPassport" *ngIf='stagePerson'>
        <mat-form-field class="person-find" appearance="standard">
            <mat-label>Введите серию и номер пасспорта</mat-label>
            <input matInput formControlName="passport" #postalCode maxlength="10" (ngModelChange)="dropFindPerson()" required>
            <mat-hint align="end">{{postalCode.value.length}} / 10</mat-hint>
            <mat-hint>До 14 лет свидетельство о рождении</mat-hint>
        </mat-form-field>
    
        <button class = "btn-find" mat-raised-button color="primary" [disabled]="findPassport.invalid" (click)= 'findPerson()'>Найти человека</button>
    </form>
    <mat-form-field class="find-info" *ngIf='canFindPerson && stagePerson '>
      <mat-spinner *ngIf='isLoadData'></mat-spinner>
      <br>
      <h3 *ngIf='!isLoadData'>Информация о найденном человеке:</h3>
      <p *ngIf='!isLoadData'>{{personViewValue}}</p>
      <p *ngIf='!isLoadData'>{{personBirthdateViewValue}}</p>
      <p *ngIf='!isLoadData'>{{personDieViewValue}}</p>
      <p *ngIf='!isLoadData'>{{personDopViewValue}}</p>
    </mat-form-field>

    <mat-form-field class="find-info" *ngIf='alreadyExistPerson && stagePerson'>
        <br>
        <h3>Этот человек уже задействован в ДТП</h3>
    </mat-form-field>

    <mat-form-field class="find-info" *ngIf='canFindError && stagePerson'>
       <p>Такого человека нет в системе!</p>
       <button  routerLink="/people" routerLinkActive="active" mat-raised-button color="primary" (click)="onNoClick()">Создать</button>
    </mat-form-field>
    
    <form [formGroup]="findRegisterNumber" *ngIf='stageTS'>
        <mat-form-field class="person-find" appearance="standard">
            <mat-label>Введите регистрационный номер ТС</mat-label>
            <input matInput formControlName="registerNumber" #postalCode3 maxlength="10" required>
            <mat-hint align="end">{{postalCode3.value.length}} / 10</mat-hint>
        </mat-form-field>
        <button class = "btn-find" mat-raised-button color="primary" [disabled]="findRegisterNumber.invalid" (click)= 'findTS()'>Найти ТС</button>
    </form>
    <mat-form-field class="find-info" *ngIf='canFindTS && stageTS'>
      <mat-spinner *ngIf='isLoadData'></mat-spinner>  
      <br>
      <h3 *ngIf='!isLoadData'>Информация о найденном TC:</h3>
      <p *ngIf='!isLoadData'>{{tsViewValue}}</p>
    </mat-form-field>

    <mat-form-field class="find-info" *ngIf='canFindErrorTS && stageTS'>
        <p>Такого ТС нет в системе!</p>
        <button routerLink="/ts" routerLinkActive="active" mat-raised-button color="primary" (click)="onNoClick()">Создать</button>
    </mat-form-field>
    <mat-form-field class="find-info" *ngIf='alreadyExistTS && stageTS'>
        <br>
        <h3>Это ТС уже задействовано в ДТП</h3>
    </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">Отменить</button>
  <button mat-raised-button color="primary"  *ngIf='stagePerson && canFindPerson && isPersonNotDie && !isLoadData' (click)='onStageTS()'>Далее</button>
  <button mat-raised-button color="accent" *ngIf='stageTS' cdkFocusInitial (click)='onStagePerson()'>Назад</button>
  <button mat-raised-button color="primary" *ngIf='stageTS && canFindTS && !isLoadData' (click)="onReturnResult()" cdkFocusInitial>Добавить участника ДТП</button>
</div>